<h1> Edit a user </h1>

 <%= form_tag(update_users_url({id: @user.id}), method: :post) do%>
    
    <p>username:<%= text_field_tag :username, @user.userName  %></p>    
    <p>password:<%= text_field_tag(:password, @user.password) %></p>
    
 
    <p><%= submit_tag 'Actualizar' %></p>
    <a href="<%= see_users_url%>"> Cancelar </a>
    
<% end %>