<h1> Descripcion de user </h1>
<ul>
	<li> Id: <%= @user.id %></li>
	<li> Username: <%= @user.userName %></li>
	<li> Password: <%= @user.password %></li>
</ul>

<p><a href="<%= edit_users_url%>"> Editar </a></p>
<p><a href="<%= see_users_url%>"> Regresar </a></p>

<!--
<%= form_tag delete_users_url(id: @user.id), method: :delete do%>
	 <p><%= submit_tag 'Borrar' %></p>
<% end %>
-->

 <%= link_to 'Borrar', delete_users_url(id: @user.id), method: :delete %>